
.alert {
    position: fixed;
    left: 50%;
    top: 20px;
    max-width: 400px;
    transform: translate(-50%, 0);
    background-color: #400909;
    border-radius: .2rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: opacity 300ms ease-in-out;
    opacity: 0;

    p {
        font-size: 1.1rem;
    }

}

.alert.entering {
    opacity: 1;
}
.alert.entered {
    opacity: 1;
}
.alert.exiting {
    opacity: 0;
}
.alert.exited {
    opacity: 0;
}
